*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
   
}
:root{
    --bg-color:#020202;
    --seconnd-bg-color:#0f1011;
    --third-bg-color:#3c4855;
    --text-color:#fff;
    --main-color:rgb(83, 218, 30);
    --main-color2:rgb(141, 224, 230);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);

}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2 rem 5%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}


.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0, .2);
}

.header .bx {
   
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;

}
.header i{
    color: var(--main-color);
    height: 10px;
    width: 10px;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: -3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
.navbar button{
    
    border-radius: 10px;
    font-size: 20;
    background: rgb(38, 80, 55);
    border: .2rem solid var(--main-color);
    padding: 10px;
    margin: 10px;
    color: var(--text-color);
}
#crypt{
    color: var(--main-color);
}
.one{
    color: var(--main-color);
}
#exc{
    color: var(--main-color2);
}
.home-content h1{
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.3;
} 
.home-content p{
    font-size: 1.6rem;
    /* font-family: 'Source Code Pro', monospace; */
    font-weight: 200;
}
.home button{
     
    border-radius: 10px;
    font-size: 20;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    padding: 10px;
    margin: 10px;
    color: var(--bg-color);
}
.home{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content:space-between ;
    align-items: center; */
}
.home-img img{
    width: 35vw;
    height: 60vh;
    border-radius: 1rem;
    animation: floatImage 4s ease-in-out infinite;
}

.sponsor-container{
    
display: flex;
justify-content: space-between;
background-color: var(--main-color);
}

.sponsor-box{
    font-size: 20px;
    color: var(--bg-color);
}
.grad{
    width: 50vw;
    height: 10vh;
    background: rgb(92, 38, 92);
    border-bottom: 10vh solid purple;
    border-right: 50vw solid var(--bg-color);
}
.grad1{
    margin-left: 50%;
    width: 50vw;
    height: 10vh;
    background: rgb(92, 38, 92);
    border-bottom: 10vh solid var(--bg-color);
    border-right: 50vw solid purple;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-size: 17px;
}
th,td {
    padding: 15px;
    text-align: left;
    /* border-bottom: 1px solid rgba(66, 226, 218); */
}
th{
    background-color: var(--seconnd-bg-color);
color: rgb(131, 126, 126)

}
tr:hover{
    background-color: var(--seconnd-bg-color);
}
table button{
    border: .1rem solid rgb(231, 55, 113) ;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    background-color: transparent;
    color: var(--text-color);
}
table button:hover{
    cursor: pointer;
    background-color: rgb(231, 55, 113);
}
#first{
    background-color: rgb(231, 55, 113);
    border: none;
}
.table h1{
    font-size: 20px;
    font-weight: 300;
}

.tHeader{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.tHeader button{
    margin-left: 70%;
    color: var(--main-color);
    background: none;
    font-size: 15px;
}

.best-features{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.best-features h3{
    font-size: 1.6rem;
}

.best-features .first-feature3{
    /* width: 33.5%; */
    background: var(--bg-color);
    margin-top: 45%;
    height: 50vh;
    width: 30vw;
    text-align: center;

    transition: .5s ease;
}
.best-features .first-feature3 h1{
    font-size: 30px;
}
.best-features .first-feature3 p{
    font-size: 15px;
}
.best-features .first-feature3 button{
    border-radius: 10px;
    font-size: 20;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    padding: 10px;
    margin: 10px;
    color: var(--bg-color);
}


.best-features .first-feature:hover{
    border-color:var(--main-color) ;
}
.best-features .first-feature1{
   
    /* width: 33.5%; */
    background: var(--seconnd-bg-color);
    
    height: 50vh;
    width: 20vw;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--main-color2);
    transition: .5s ease;
}
.best-features .first-feature1 i{
    font-size: 5rem;
    color: var(--main-color);
    margin-bottom: 10%;
    margin-top: 15%;
    background-color: var(--third-bg-color);
    border-radius: 50%;
}
.best-features .first-feature1 h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10%;
}
.best-features .first-feature1 p{
    font-size: 13px;
}
.best-features .first-feature2{
   
   
    /* width: 33.5%; */
    background: var(--seconnd-bg-color);
   margin-top: 45%;
    height: 50vh;
    width: 20vw;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--main-color2);
    transition: .5s ease;
}
.best-features .first-feature2 i{
    font-size: 5rem;
    color: var(--main-color);
    margin-bottom: 10%;
    margin-top: 15%;
    background-color: var(--third-bg-color);
    border-radius: 50%;
}
.best-features .first-feature2 h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10%;
}
.best-features .first-feature2 p{
    font-size: 13px;
}
.outer{
    width: 33.5%;
    background: var(--seconnd-bg-color);
   margin-top: -12%;
    height: 50vh;
    width: 20vw;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--main-color2);
    transition: .5s ease;
}
.outer i{
    font-size: 5rem;
    color: var(--main-color);
    margin-bottom: 10%;
    margin-top: 15%;
    background-color: var(--third-bg-color);
    border-radius: 50%;
}
.outer h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10%;
}
.outer p{
    font-size: 13px;
}



.best-features2{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.best-features2 h3{
    font-size: 1.6rem;
}

.best-features2 .first-feature3{
    /* width: 33.5%; */
    background: var(--bg-color);
    margin-top: 45%;
    height: 50vh;
    width: 30vw;
    text-align: center;

    transition: .5s ease;
}
.best-features2 .first-feature3 h1{
    font-size: 30px;
}
.best-features2 .first-feature3 p{
    font-size: 15px;
    margin-bottom: 10%;
}
.best-features2 .first-feature3 button{
    
    border-radius: 10px;
    font-size: 20;
    background: transparent;
    border: .2rem solid var(--main-color);
    padding: 10px;
    margin: 10px;
    color: var(--text-color);
}


.best-features2 .first-feature:hover{
    border-color:var(--main-color) ;
}
.best-features2 .first-feature1{
   
    /* width: 33.5%; */
    background: rgb(54, 141, 212);
    margin-top: 25%;
    margin-left: 20%;
    height: 50vh;
    width: 20vw;
    border-radius: 2rem;
    text-align: center;
   
    transition: .5s ease;
}
.best-features2 .first-feature1 i{
    font-size: 5rem;
    color: rgb(54, 141, 212);
    padding: 10px;
    margin-bottom: 10%;
    margin-left: 40%;
    margin-top: 15%;
    background-color: var(--text-color);
    border-radius: 50%;
}
.best-features2 .first-feature1 h1{
    font-size: 40px;
    font-weight: 400;
    margin-top: 29%;
    margin-right: 30%;
}
.best-features2 .first-feature1 p{
    font-size: 18px;
    margin-right: 30%;
}
.best-features2 .first-feature2{
   
   
    /* width: 33.5%; */
    background: rgb(223, 120, 137);
   margin-top: 45%;
   margin-left: 20%;
    height: 50vh;
    width: 20vw;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
.best-features2 .first-feature2 i{
    font-size: 5rem;
    color: rgb(223, 120, 137);
    padding: 10px;
    margin-bottom: 10%;
    margin-left: 40%;
    margin-top: 15%;
    background-color: var(--text-color);
    border-radius: 50%;
   
}
.best-features2 .first-feature2 h1{
    font-size: 40px;
    font-weight: 400;
    margin-top: 29%;
    margin-right: 30%;
}
.best-features2 .first-feature2 p{
    font-size: 18px;
    margin-right: 30%;
}
#invest{
    color: var(--main-color);
    font-size: 10px;
}


.choice{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
  }
  .choice img{
    height: 80vh;
    width: 98%;
  }
  .choice button{
    background-color: rgb(93, 169, 189);
    color: white;
    width: 20%;
    height: 80px;
    border: none;
    border-radius: 10px;
  
  }
  .choice button:hover{
    cursor: pointer;
    
  
  }
  .choice-h{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }
#choose{
      width: 45%;
  }
  .contenty{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      
  }
  .contenty h4 {
      margin-left: -90%;
      font-size: 20px;
  }
  .contenty p {
    margin-left: -90%;
    font-size: 15px;
}
.right-side .conts .parts .contenty i{
    width: 20px;
}

.bx {
    height: 30px;
}
